# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
client/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local data/uploads
server/store.db
server/uploads/

# env
.env
